<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972144141370-in0k015cem5eb133muljpmsl33gn17u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972144141370-in0k015cem5eb133muljpmsl33gn17u7</string>
	<key>API_KEY</key>
	<string>AIzaSyDPV-Ko0k_xtPXTCUJ74d7KitgQS-U06tE</string>
	<key>GCM_SENDER_ID</key>
	<string>972144141370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseTest.list</string>
	<key>PROJECT_ID</key>
	<string>fir-test-f2960</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-f2960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972144141370:ios:b54508d5f85c38ff21c103</string>
</dict>
</plist>